html,
body {
  font-weight: map-get($text-weights, 'regular');
  background: $grey-14;
  color: $grey-5;
}

body.body--dark {
  background: $grey-14;
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
