html,
body {
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "ss03", "locl";
  font-weight: 600;
  background-color: $black-ter;
  color: $grey-5;
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

a {
  color: $grey-5;
  text-decoration: none;
}
