.container {
  flex-grow: 1;
  position: relative;
  max-width: $breakpoint-md;
  margin: 0 auto;
  padding-left: $space-base * 3;
  padding-right: $space-base * 3;

  @media (max-width: $breakpoint-sm-max) {
    padding-left: $space-base * 1.5;
    padding-right: $space-base * 1.5;
  }

  &.fluid {
    max-width: none;
    width: 100%;
  }
}
