.footer {
  height: 100px;
  padding-top: $space-base * 0.75;

  @media (max-width: $breakpoint-sm-max) {
    padding-top: $space-base * 1.25;
  }

  .footer-container {
    height: 100px - ($space-base * 0.75);

    @media (max-width: $breakpoint-sm-max) {
      height: 100px - ($space-base * 1.25);
    }
  }
}
