.tabs {
  .q-tabs__arrow {
    text-shadow: initial !important;
  }

  // https://github.com/quasarframework/quasar/blob/master/ui/src/css/core/visibility.sass

  .q-focus-helper {
    &::before,
    &::after {
      background: none !important;
    }
  }

  .q-focusable:focus,
  .q-manual-focusable--focused > .q-focus-helper {
    opacity: 1 !important;
  }

  .q-focusable:focus,
  .q-manual-focusable--focused,
  .q-hoverable:hover > .q-focus-helper {
    background: inherit !important;
    opacity: 1 !important;

    &::before,
    &::after {
      opacity: 1 !important;
    }
  }
}
