// Colors to map
$colors: (
  'black': $black,
  'black-bis': $black-bis,
  'black-ter': $black-ter,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .text-#{$name} {
    color: $color !important;
  }
}
