// Colors to map
$colors: (
  'black': $black,
  'black-1': $black-1,
  'black-2': $black-2,
  'black-3': $black-3,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .text-#{$name} {
    color: $color !important;
  }
}
