/* Collection Item */
.collection-item {
  min-height: 320px;
  min-width: 160px;

  @media (max-width: $breakpoint-sm-max) {
    min-height: 300px;
  }
}

.collection-thumbnail {
  background-size: 100% 100% !important;
  height: 180px;
}

/* Collection Hero */
.collection-hero {
  height: 250px;
  max-height: 250px;
}

.collection-hero-thumbnail {
  background-color: $grey-11;
  background-size: cover;
  filter: blur(1px) brightness(80%);
}

.collection-hero-elements {
  z-index: 30;
}

.collection-hero-details {
  max-width: 500px;
}

.collection-gradient-left {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(90deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.collection-gradient-right {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(270deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.collection-gradient-bottom {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(0deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  height: 75%;
}
