.details-header {
  height: 350px;
  min-height: 350px;
  max-height: 375px;
}

.details-placeholder {
  background-color: $grey-11;
  background-size: 100% auto !important;
  filter: blur(5px) brightness(80%);
}

.details-elements {
  z-index: 30;
}

.details-header-gradient-left {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(90deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.details-header-gradient-right {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(270deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.details-header-gradient-bottom {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(0deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  height: 50%;
}
