.hero {
  background-color: $grey-10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 500px;
}

.hero-container {
  z-index: 10;
}

.hero-main {
  z-index: 30;
}

.hero-gradient-left {
  z-index: 20;
  background: $grey-11 !important;
  background: linear-gradient(90deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.hero-gradient-right {
  z-index: 20;
  background: $grey-11 !important;
  background: linear-gradient(270deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.hero-gradient-bottom {
  z-index: 20;
  background: $grey-11 !important;
  background: linear-gradient(0deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  height: 75%;
}
