.hero {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 350px;
  max-height: 450px;
  z-index: 0;

  @media (min-width: $breakpoint-md-min) {
    background-size: cover;
  }

  > div,
  > span {
    position: relative;
    z-index: 10;
  }

  &::after {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.35) 0%, rgba(10, 10, 10, 1) 100%);
    content: '';
    display: block;
    filter: brightness(25%);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
