.item-placeholder {
  background-size: 100% 100%;
  min-height: 160px;
  max-height: 160px;
  height: 160px;
  width: 100%;

  .item-cover {
    object-fit: fill;
    background-size: 100% 100% !important;
  }
}
