.player {
  background: black;
  overflow: hidden;
  min-height: 240px;
  max-height: 640px;

  @media (max-width: $breakpoint-sm-max) {
    max-height: 480px;
  }

  @media (max-width: $breakpoint-xs-max) {
    max-height: 240px;
  }

  video {
    z-index: 10;
  }
}

.player.fullscreen {
  max-height: initial !important;
}

.player-container {
  z-index: 20;
}

.player-directives {
  z-index: 30;
}

.player-controls {
  z-index: 40;

  .q-slider__track-container {
    background: linear-gradient(
      to right,
      #a9a9b3 var(--buffered),
      #696970 var(--buffer)) !important;
  }
}

.player-tooltip {
  z-index: 50;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  width: 160px;
}
