.video-container {
  z-index: 10;
  background: black;
  overflow: hidden;
  height: 100vh;
  max-height: 640px;

  @media (max-width: $breakpoint-sm-max) {
    max-height: 480px;
  }

  @media (max-width: $breakpoint-xs-max) {
    max-height: 240px;
  }

  video {
    height: 100%;
    width: 100%;
  }
}

.video-container.fullscreen {
  max-height: initial !important;
}

.player-controls {
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;

  .q-slider__track-container {
    background: linear-gradient(
      to right,
      #a9a9b3 var(--buffered),
      #696970 var(--buffer)) !important;
  }
}

.player-label {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  width: 160px;
}
