/* Video Item */
.video-item {
  min-height: 360px;
  min-width: 200px;

  @media (max-width: $breakpoint-sm-max) {
    min-height: 340px;
  }
}

.video-thumbnail {
  background-size: 100% 100% !important;
  height: 200px;
}

/* Video Hero */
.video-hero {
  height: 350px;
  max-height: 350px;
}

.video-hero-thumbnail {
  background-color: $grey-11;
  background-size: cover;
  filter: blur(1px) brightness(80%);
}

.video-hero-elements {
  z-index: 30;
}

.video-hero-details {
  max-width: 500px;
}

.video-gradient-left {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(90deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.video-gradient-right {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(270deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  width: 50%;
}

.video-gradient-bottom {
  z-index: 10;
  background: $grey-11 !important;
  background: linear-gradient(0deg, $grey-11 0%, rgba(30, 30, 30, 0) 100%) !important;
  height: 75%;
}
