<?xml version='1.0' encoding='utf-8'?>
<widget id="org.cordova.mediadb.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MediaDB</name>
    <description>Build your own streaming service</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="BackgroundColor" value="0xff1c1d1e" />
    <preference name="DefaultVolumeStream" value="media" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="NavigationBarBackgroundColor" value="#000000" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="about:*" />
</widget>
